<section class="galeria-section py-5">
  <div class="container-fluid galeria-composicao">
    <h2 class="galeria-title text-center mb-5">RITUAIS EM IMAGENS</h2>

    <div class="galeria-composicao">

      <div class="galeria-principal">
        <img *ngFor="let img of imagensPrincipais" [src]="img" class="galeria-img grande" (click)="abrirImagem(img)" />
      </div>

      <div class="galeria-lateral" #slider (mouseenter)="hoverAtivo = true" (mouseleave)="hoverAtivo = false">
        <ng-container *ngFor="let img of imagensDuplicadas">
          <!-- <img [src]="img" class="galeria-img pequena" /> -->
          <img *ngFor="let img of imagensLateral" [src]="img" class="galeria-img pequena" (click)="abrirImagem(img)" />
        </ng-container>
      </div>

      <!-- Lightbox -->
      <app-image-viewer *ngIf="imagemSelecionada" [imagemAtual]="imagemSelecionada" [imagens]="todasImagens" (fechar)="fecharViewer()">
      </app-image-viewer>

    </div>
  </div>
</section>