body {
  font-family: "Rajdhani", sans-serif;
  background-color: #0a0a0a;
  color: #fff;
}

h1,
h2,
h3,
.display-4,
.text-glitch {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner-principal::after {
  background: url("assets/img/tribal-seal.svg") center center / contain;
}

.banner-principal {
  background: url("assets/img/banner-cybertribal.png") center center / cover
    no-repeat;
}

.grain-overlay {
  background: url("assets/img/noise-grain.gif") repeat;
}
